<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Method Selection</title>
    <h2>Select Search Method</h2>
    <a href="/hmm_search">HMM</a><br>
    <a href="/motif_search">Motif</a><br>
    <a href="/pssm_search">PSI-BLAST</a><br>
    <a href="/run_search">Submit Searches</a>
</head>
<body>
    <h2>Motif Searches</h2>
    {% for search in motif_searches %}
        <h3>{{ search.gene_name }}</h3>
        <a href="{% url 'delete_motif' search.id %}">Delete</a>
        <br>
    {% endfor %}
    <h2>HMM Searches</h2>
    {% for search in hmm_searches %}
        <h3>{{ search.gene_name }}</h3>
        <a href="{% url 'delete_hmm' search.id %}">Delete</a>
        <br>
    {% endfor %}
</body>
</html>